<h1>IMAGINE IDEA</h1>
<h2>Ever had a idea or a dream, but did not know how to make it a reality?</h2>
<h2>There are thousands of Americans who have great ideas but do not know how to make those ideas become a reality.  That is why we created IMAGINE IDEA.  We are a resource for the inventor to make their dreams a reality.</h2> 
<h2>IMAGINE IDEA is hub for people's ideas, for inventors to collaborate with patent lawyers, manufactors, and business partners.  Let IMAGINE IDEA bring your ideas to life and to your reality.</h2>

